@import 'libs/vars';
@import 'libs/breakpoints';

@include breakpoints((
    xlarge: (1281px, 1680px),
    large: (981px, 1280px),
    medium: (737px, 980px),
    small: (481px, 736px),
    xsmall: (361px, 480px),
    xxsmall: (null, 360px)
));


// Base
@import 'base/page';
@import 'base/typography';

// Components
@import 'components/section';
@import 'components/buttons';

// Layout
@import 'layout/hero';
@import 'layout/about';
@import 'layout/services';
@import 'layout/projects';
@import 'layout/achievements';
@import 'layout/testimonials';
@import 'layout/footer';