.about{
    .qualities{
        display: flex;
        margin-top: 60px;
        article{
            text-align: center;
            background-color: map-get($palette, darker-blue);
            margin-right: 10px;
            padding: 30px;
            font-size: 0.9em;
        }
        article:last-child{
            margin-right: 0;
        }
        article .quality-icon{
            color: map-get($palette, light-blue);
            font-size: 3em;
            margin-bottom: 20px;
            display: block;
        }
        article h3{
            color: map-get($palette, white);
            font-size: 1.4em;
            margin-bottom: 10px;
            font-weight: 400;
        }
        article p{
            color: map-get($palette, darker-white-2);
        }
    }
}

@include breakpoint('<=medium'){
    .about{
        .qualities{
            flex-wrap: wrap;
            article{
                width: 49%;
                margin: 0 0 10px 0;
            }
            article:nth-child(odd){
                margin-right: 2%;
            }
        }
    }
}

@include breakpoint('<=xsmall'){
    .about{
        .qualities{
            flex-direction: column;
            margin-top: 30px;
            article{
                width: 100%;
            }
        }
    }
}