.testimonials{
    .section-heading{
        margin-bottom: 50px;
    }
    .testimonial{
        text-align: center;
        h3{
            color: map-get($palette, white);
            margin-bottom: 10px;
            font-size: 1.5em;
        }
        .designation{
            margin-bottom: 20px;
            color: darken(map-get($palette, white), 20%)
        }
        .avatar img{
            border-radius: 100%;
            width: 100px;
            margin-bottom: 20px;
            border: 2px solid map-get($palette, light-blue);
            padding: 3px;
        }
        .quote{
            color: map-get($palette, white);
            width: 55%;
            margin: 0 auto;
            background-color: lighten(map-get($palette, dark-blue), 3%);
            padding: 20px;
            line-height: 1.8em;
            border-radius: 7px;
            @include breakpoint('<=medium'){
                width: 98%;
            }
            @include breakpoint('<=small'){
                font-size: 0.9em;
                padding: 8px;
            }
        }
    }
    .swiper-button-prev, .swiper-button-next{
        color: #669BBC;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        @include breakpoint('<=small'){
            font-size: 1.5em;
        }
    }
}